:root {
    --marron: 176, 93, 75;
    --verde_oscuro: 24, 126, 164 ;

    --blanco: 255,255,255;
    --negra: 0,0,0;
}


/* Menú desplegable */
.dropdown {
    width: 100%;    
}

.dropdown li {
    background-color:  #442ccc4d;
    display: none;
    padding: 0.0.1rem; /* Puedes ajustar este valor también */
}

.dropdown li a {
    max-width: 120px; /* Ajusta el valor según tus necesidades */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    transition: all;
}

.dropdown li:hover {
    background-color:  #06f8264d;
}

nav li:hover > .dropdown li {
    opacity: 0;
    display: block;
}

nav li:hover>.dropdown li:nth-child(1){
    animation: animate 300ms ease-in-out both;
    animation-delay: -150ms;
}

nav li:hover>.dropdown li:nth-child(2){
    animation: animate 300ms ease-in-out both;
    animation-delay: -0ms;
}

/* Animación */
@keyframes animate {
    0% {
        opacity: 0;
    }
    40% {
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.ancho-menu {
    width: 180px; /* Ajusta el valor según tus necesidades */
}

.alinea_derecha {
    text-align: right;
}